@using Newtonsoft.Json.Linq
@using SquishIt.Framework
@using cms.Code.Bootstraper
<!DOCTYPE html>
<html ng-app="bootstrapApp" class=".main" data-modeldata="@Model">
<head>
	<title>@ViewBag.Title</title>
	@MvcHtmlString.Create(
			Bundle.JavaScript()
				.Add("~/Scripts/jquery-1.7.2.js")
				.Add("~/Scripts/angular.js")
				.Add("~/Scripts/angular-resource.js")
				.Add("~/Scripts/bootstrap.js")
				.Add("~/Scripts/Coffee/Bootstrap.coffee")
				.Add("~/Scripts/Coffee/BootstrapApp.coffee")
				.Render("bootstrap_index#.js")
		)
</head>
@model Newtonsoft.Json.Linq.JObject
@helper xxx(string item)
	{
	<tr>
		<td>
			@@@item
		</td>
		<td title="{{data.@(item).value}}">
			<input ng-model="data.@(item).value " bootstrapelem="data.@item" ng-class="data.@(item).type" />
			<span ng-show="data.@(item).type == 'color' ">color picker</span><br />
			&nbsp;&nbsp;&nbsp;
		</td>
	</tr>
}
@helper VariablesGroup(string name, string id, string[] values)
	{

	<text>
		<div class="accordion-group" ng-click="aaa($element)">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@id" >@name </a>
			</div>
			<div id="@id" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
					@{
						const int count = 5;
						int len = values.Length / count;
						if (values.Length % count > 0) { len++; }
					}
					@for (int i = 0; i < len; i++)
	 {
						<table style="float: left">
							@values.List(i, count, @<text>@xxx(item)</text>)
						</table>
	 }
				</div>
			</div>
		</div>
	@*<h3 ng-click="toggle('@id')">@name</h3>
	<div ng-show="toggleValue('@id')" ng-hide="!toggleValue('@id')" class="aaa clearfix"  >
		@{
			const int count = 5;
			int len = values.Length / count;
			if (values.Length % count > 0) { len++; }
		}
		@for (int i = 0; i < len; i++)
  {
			<table style="float: left">
				@values.List(i, count, @<text>@xxx(item)</text>)
			</table>
  }
	</div>*@
	</text>;
	 	
}
<style>
	.accordion-group {
		background-color: white;
	}
	.color
	{
		width: 20px;
		border: 1px solid red;
	}
	.xxx
	{
		position: fixed;
		width: 150px;
	}
	.aaa
	{
		cursor: pointer;
		background-color: white;
	}
</style>
<body>
	<div ng-controller="bootstrap" data-model="@Model">
		<link href="@Url.Content("/bootstrap/UserBootstrap?{{refreshtoken}}")" rel="stylesheet" type="text/css" />
		<!-- Navbar	================================================== -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/Bootstrap">Bootstrap</a>
					<ul class="nav">
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Templates
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#csstest">CSS test</a></li>
								<li><a href="#bootswatch">bootswatch</a></li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Download
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="kajbsdjkasd">bootastrap.css</a></li>
								<li><a href="kajbsdjkasd">bootastrap.min.css</a></li>
								<li class="divider"></li>
								<li><a href="kajbsdjkasd">bootastrap.less</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="xxx">
			@*			<div ng-repeat="item in colorsrefonly">
				{{item.key}} {{item}}.......
			</div>
*@
			<button ng-click="refresh()" class="btn primary">
				refresh</button>
				<div class="accordion" id="accordion2" >
@VariablesGroup("Scaffolding", "scf", new[] { "bodyBackground", "textColor" })
			@VariablesGroup("Grays", "grs", new[] { "black", "grayDarker", "grayDark", "gray", "grayLight", "grayLighter", "white" })
			@VariablesGroup("Accent colors", "acol", new[] { "blue", "blueDark", "green", "red", "yellow", "orange", "pink", "purple" })
			@VariablesGroup("Links", "lnkss", new[] { "linkColor", "linkColorHover" })
			@VariablesGroup("Typography", "tpgr", new[] { "sansFontFamily", "serifFontFamily", "monoFontFamily", "baseFontSize", "baseFontFamily", "baseLineHeight", "altFontFamily", "headingsFontFamily", "headingsFontWeight", "headingsColor", })
			@VariablesGroup("Navbar", "navb", new[] { "navbarHeight", "navbarBackground", "navbarBackgroundHighlight", "navbarText", "navbarLinkColor", "navbarLinkColorHover", "navbarLinkColorActive", "navbarLinkBackgroundHover", "navbarLinkBackgroundActive", "navbarSearchBackground", "navbarSearchBackgroundFocus", "navbarSearchBorder", "navbarSearchPlaceholderColor", "navbarBrandColor" })
			@VariablesGroup("Tables", "hagscdgh", new[] { "tableBackground", "tableBackgroundAccent", "tableBackgroundHover", "tableBorder" })
			@VariablesGroup("Buttons", "btn", new[] { "btnBackground", "btnBackgroundHighlight", "btnBorder", "btnPrimaryBackground", "btnPrimaryBackgroundHighlight", "btnInfoBackground", "btnInfoBackgroundHighlight", "btnSuccessBackground", "btnSuccessBackgroundHighlight", "btnWarningBackground", "btnWarningBackgroundHighlight", "btnDangerBackground", "btnDangerBackgroundHighlight", "btnInverseBackground", "btnInverseBackgroundHighlight" })
			@VariablesGroup("Dropdowns", "ldrp", new[] { "dropdownBackground", "dropdownBorder", "dropdownLinkColor", "dropdownLinkColorHover", "dropdownLinkBackgroundHover" })
			@VariablesGroup("Forms", "frm", new[] { "inputBackground", "inputBorder", "inputBorderRadius", "inputDisabledBackground", "formActionsBackground" })
			@VariablesGroup("Form states and alerts", "fa", new[] { "warningText", "warningBackground", "warningBorder", "errorText", "errorBackground", "errorBorder", "successText", "successBackground", "successBorder", "infoText", "infoBackground", "infoBorder" })
			@VariablesGroup("Placeholder color", "plcc", new[] { "placeholderText" })
			@VariablesGroup("Sprites", "lnks", new[] { "iconSpritePath", "iconWhiteSpritePath" })
			@VariablesGroup("hr border color", "hrc", new[] { "hrBorder" })
			@VariablesGroup("Hero unit", "hrh", new[] { "heroUnitBackground", "heroUnitHeadingColor", "heroUnitLeadColor" })
			@VariablesGroup("Grid 940px", "grd99", new[] { "gridColumns", "gridColumnWidth", "gridGutterWidth", "gridRowWidth" })
					@VariablesGroup("Fluid grid", "fga", new[] { "fluidGridColumnWidth", "fluidGridGutterWidth" })
					</div>
			@*		<div class="span3">
			@VariablesGroup("Scaffolding", "scf", new[] { "bodyBackground", "textColor" })
			@VariablesGroup("Grays", "grs", new[] { "black","grayDarker","grayDark","gray","grayLight","grayLighter","white"})
			@VariablesGroup("Accent colors", "acol", new[] { "blue", "blueDark", "green", "red", "yellow", "orange", "pink", "purple" })
			@VariablesGroup("Links", "lnkss", new[] { "linkColor", "linkColorHover" })
		</div>
		<div class="span3">
			@VariablesGroup("Typography", "tpgr", new[] { "sansFontFamily","serifFontFamily","monoFontFamily","baseFontSize","baseFontFamily","baseLineHeight","altFontFamily","headingsFontFamily","headingsFontWeight","headingsColor", })
		</div>
		<div class="span3">
			@VariablesGroup("Tables", "tabls", new[] { "tableBackground", "tableBackgroundAccent", "tableBackgroundHover", "tableBorder" })
		</div>
		<div class="span3">
			@VariablesGroup("Buttons", "btn", new[] {"btnBackground","btnBackgroundHighlight","btnBorder","btnPrimaryBackground","btnPrimaryBackgroundHighlight","btnInfoBackground","btnInfoBackgroundHighlight","btnSuccessBackground","btnSuccessBackgroundHighlight","btnWarningBackground","btnWarningBackgroundHighlight","btnDangerBackground","btnDangerBackgroundHighlight","btnInverseBackground","btnInverseBackgroundHighlight"})
		</div>
		<div class="span3">
			@VariablesGroup("Forms", "frm", new[] { "inputBackground", "inputBorder", "inputBorderRadius", "inputDisabledBackground", "formActionsBackground" })
			@VariablesGroup("Dropdowns", "ldrp", new[] { "dropdownBackground", "dropdownBorder", "dropdownLinkColor", "dropdownLinkColorHover", "dropdownLinkBackgroundHover" })
			@VariablesGroup("Sprites", "lnks", new[] { "iconSpritePath", "iconWhiteSpritePath" })
			
		</div>
		<div class="span3">
			
			@VariablesGroup("Placeholder color", "plcc", new[] { "placeholderText" })
			@VariablesGroup("hr border color", "hrc", new[] { "hrBorder" })
			@VariablesGroup("Navbar", "navb", new[] { "navbarHeight","navbarBackground","navbarBackgroundHighlight","navbarText","navbarLinkColor","navbarLinkColorHover","navbarLinkColorActive","navbarLinkBackgroundHover","navbarLinkBackgroundActive","navbarSearchBackground","navbarSearchBackgroundFocus","navbarSearchBorder","navbarSearchPlaceholderColor","navbarBrandColor"})
			@VariablesGroup("Hero unit", "hrh", new[] { "heroUnitBackground","heroUnitHeadingColor","heroUnitLeadColor" })
			@VariablesGroup("Form states and alerts", "fa", new[] { "warningText","warningBackground","warningBorder","errorText","errorBackground","errorBorder","successText","successBackground","successBorder","infoText","infoBackground","infoBorder"})
			@VariablesGroup("Grid 940px", "grd99", new[] { "gridColumns", "gridColumnWidth", "gridGutterWidth", "gridRowWidth" })
			@VariablesGroup("Fluid grid", "fga", new[] { "fluidGridColumnWidth", "fluidGridGutterWidth" })
		</div>
*@
			<button ng-click="refresh()">
				refresh</button>
		</div>
	</div>
	<div ng-view>
	</div>
<script type="text/javascript">
  $(document).ready(
      function(){
        $('#accordion2').on('show', function (e) {
          $(e.target).closest(".accordion-group").width("960px")
        })
        $('#accordion2').on('hide', function (e) {
          $(e.target).closest(".accordion-group").width("150px")
        })
      })
</script>
</body>
</html>










































