@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	@*<link href="/Content/bootstrapdefault/less/bootstrap.css" rel="stylesheet">*@
	<link href="/Content/metro-bootstrap.less.css" rel="stylesheet">
	<style>
		body
		{
			padding-top: 60px; /* 60px to make the container go all the way  to the bottom of the topbar */
		}
	</style>
	<link href="/Content/jetstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/Content/jetstrap/assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/jetstrap/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/jetstrap/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/jetstrap/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/Content/jetstrap/assets/ico/apple-touch-icon-57-precomposed.png">


	@Scripts.Render(
				"~/Scripts/jquery-1.7.2.js",
				"~/Scripts/jquery-ui.min.js",
				"~/Scripts/angular.js",
				"~/Scripts/angular-resource.js",
				"~/Scripts/angular-ui.js",
				"~/Scripts/angular-ui-ext-dndClass.js",
				"~/Scripts/angular-ui-ext.js",
				"~/Scripts/select2/select2.js",
				"~/Scripts/showdown.js",

				"~/Scripts/angular-templates-ext.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/novinka.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/text.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/simplehtml.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/reference.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/textlocalized.coffee"
			)

	@Scripts.Render(
				"~/Scripts/Admin/cmsapi.js",
				"~/Scripts/Admin/gridpagesCtrl.js",
				"~/Scripts/Admin/Grids.js",
				"~/Scripts/Admin/Index.js",
				"~/Scripts/Admin/menuCtrl.js",
				"~/Scripts/Admin/pageCtrl.js"
		)

	@Styles.Render(
			//	"~/Content/fluid_grid.css",
				//"~/Scripts/select2/select2.css",
			//"~/Content/bootstrapdefault/less/bootstrap.less",
				"~/Content/admin.less"
			)

</head>
<body>
	@RenderBody()

	@Scripts.Render(
				"~/Scripts/bootstrap.js"
		)
</body>
</html>


