@model Google.GData.Client.OAuth2Parameters


<div ng-app>
	@using (Html.BeginForm("RedirectToAuthenticate", "GData", FormMethod.Post, new { @class = "form-horizontal" }))
 {
		@Html.AntiForgeryToken()

		@Html.HiddenFor(m => m.ClientId, new { @class = "input-block-level" })
		@Html.HiddenFor(m => m.ClientSecret, new { @class = "input-block-level" })
		@Html.HiddenFor(m => m.RedirectUri, new { @class = "input-block-level" })
		@Html.HiddenFor(m => m.Scope)

		<table style="width: 100%">
			<tr>
				<td style="width: 60px">
					<img src="@Url.Content("~/Content/images/picasa_logo.png")"/>
				</td>
				<td class="xxx">
					<h3>Google Picasa</h3>
					<span>synchronizujte fotky z webových alb Picasa od Googlu</span>
				</td>

				<td>
					@using (Html.BeginForm("Revoke", "GData"))
	 {
						<button class="btn btn-success btn-large" type="submit">připojit</button>
							    
	 }
				</td>

			</tr>

		</table>
        
 }

</div>
