@model System.Collections.Generic.List<cms.data.Shared.Models.UserProfile>

@{
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	ViewBag.Title = ViewBag.ApplicationName + " - administrace ";
}

<h2>titllkjabnsdkjbe</h2>

@{
	var x = DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalSeconds;
}
@foreach (var item in Model)
{
	<div> @item.Id</div>
	<div> @item.UserName</div>
	<div> @item.ApplicationUser</div>
	<div> @item.AccessToken</div>
	<div> @(item.Expire - x)</div>
	<div> @item.IsAccessTokenExpired</div>
	<div> ---------.--</div>
}