<!DOCTYPE html>
<html>	

	<head>
		<title>@ViewBag.Title</title>
		<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

		@{
			Bundles.Reference("~/Scripts/jquery-1.7.2.js");
			Bundles.Reference("~/Scripts/angular-1.0.0rc9.js");
			Bundles.Reference("~/Scripts/angular-resource-1.0.0rc8.js");

			Bundles.Reference("~/Scripts/Admin");
			Bundles.Reference("~/Content/grid.css");
			Bundles.Reference("~/HtmlTemplates/test.htm");
		}
	
		@Bundles.RenderScripts()

		@Bundles.RenderStylesheets()
		@Bundles.RenderHtmlTemplates()

	</head>

	<body>
		@RenderBody()
	</body>
</html>


