<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="@Url.Action("grids")">@ViewBag.Application</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<a href="#">Link 1
						</a>
					</li>
					<li>
						@Html.ActionLink("logout", "LogOff", "Account")
					</li>
					<li>
						<a href="#"> @ViewBag.ApplicationId
						</a>
					</li>
					<li>
						@WebSecurity.CurrentUserName
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
